html {
    background-color: rgb(255, 255, 255);
    padding: 0.5% 5% 1% 5%;
    margin: 0;
}

body {
	background-color: rgb(244, 244, 244);
    padding: 0%;
    margin: 0;
}

.tabbar {
	width: 99%;
	height: 50px;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	background-color: rgb(50, 50, 50);
	margin-left: 0.5%;
	margin-top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}

.button {
	width: 80px;
	height: 90%;
	background-color: rgb(200, 200, 200);
	margin-right: 2%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

.button:hover {
	background-color: rgb(222, 200, 200);
	cursor: pointer;
}

button:focus {
	background-color: rgb(200, 222, 200);
}

.button1 {
	width: 80px;
	height: 40px;
	background-color: rgb(200, 200, 200);
	margin-right: 2%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

.button1:hover {
	background-color: rgb(222, 200, 200);
	cursor: pointer;
}

button1:focus {
	background-color: rgb(200, 222, 200);
}

a:hover {
	cursor: pointer;
	background-color: rgb(222, 200, 200);
}

.button2{
	width: 120px;
	height: 90%;
	background-color: rgb(200, 200, 200);
	margin-right: 2%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

.button2x{
	width: 120px;
	height: 40px;
	background-color: rgb(200, 200, 200);
	margin-right: 2%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
	font-size: 12px;
}

a.button2x {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
	width: 90%;
	height: 80%;
	margin: 0.5% 7.5% 0 5.5%;
	background-color: rgb(150, 150, 150);
	overflow: scroll;
	position: relative;
}

.map2 {
	width: auto;
	height: auto;
}

.ele {
	height: 20px;
    width: 20px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    display: inline-block;
	float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    padding: 5px;
	cursor: move;
}

.element {
	width: 50px;
	height: 50px;
	background-color: green;
	margin: 0 150px 150px 150px;
}

.conf {
	width: 90%;
	height: 90%;
	margin: 0% 5% 0 5%;
	background-color: rgb(222, 222, 222);
	display: flex;
	flex-direction: column;
}

.infobox {
	width: 50%;
	height: 90%;
	background-color: rgb(190, 190, 190);
	margin: 1%;
	display: flex;
	flex-direction: column;
}

.inforow {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-top: 5px;
	background-color: rgb(160, 160, 160);
	display: table-row;
}

.changebox {
	width: 50%;
	height: 90%;
	background-color: rgb(190, 190, 190);
	margin: 1%;
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
}	

.label {
	margin: 10px;
	display:table-cell;
	font-size: 16px;
	padding: 2px;
}
.labelt {
	margin: 10px;
	display:table-cell;
	font-size: 16px;
	padding: 2px;
}
.labelv {
	margin: 10px;
	display:table-cell;
	font-size: 16px;
	padding: 2px;
}

.label1 {
	margin: 0 10px 0 0;
}

.label2 {
	margin: 0 10px 0 0;
}

.label3 {
	margin: 0 10px 0 0;
}

.label4 {
	margin: 0 10px 0 0;
}

.buttonbox {
	height: 50px;
	width: 500px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	margin-top: 5px;
	position: relative;
    bottom: 0;
	margin-bottom: 15px;
}

.buttonbox1{
	height: 40px;
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	margin-top: 10px;
	margin-left: 80px;
	position: relative;
    bottom: 0;
	margin-bottom: 15px;

}

.buttonbox3{
	height: 40px;
	width: 90%;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	margin-top: 10px;
	margin-left: 40px;
	position: relative;
    bottom: 0;
	margin-bottom: 15px;

}

a.button {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.button2 {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
	display: flex;
	justify-content: center;
	align-items: center;
}

.optionsbox {
	width: 98%;
	height: 98%;
	background-color: rgb(222, 222, 222);
	margin: 1%;
	position: relative;
}

.rowbox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.graph {
	background-image: url('img1.png');
    background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 23%;
}

.comborow {
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-top: 5px;
	background-color: rgb(180, 180, 180);
}

.combo {
	margin-left: 10px;
}

.combo2 {
	margin-left: 12px;
	width: 173px;
}

.buttonbox2 {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	bottom: 0;
    position: absolute;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; 
    width: 50px;
	height: 50px;
	background-color: green;
	margin: 0 150px 150px 150px;
	z-index: 20000;
}

.ele .tooltiptext{
    visibility: hidden;
    width: 260px;
    background-color: rgb(200,200,200);
    color: #000000;
 
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 20000;
	display: flex;
	flex-direction: column;
	
}

.labelt .tooltiptext{
    visibility: hidden;
    width: 260px;
    background-color: rgb(200,200,200);
    color: #000000;
 
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 20000;
	display: flex;
	flex-direction: column;
	
}

.labelv:hover .tooltiptext {
    visibility: visible;
	z-index: 20000;
}

.labelv .tooltiptext{
    visibility: hidden;
    width: 260px;
    background-color: rgb(200,200,200);
    color: #000000;
 
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 20000;
	display: flex;
	flex-direction: column;
	
}

.labelt:hover .tooltiptext {
    visibility: visible;
	z-index: 20000;
}

.X {
	display:table;
	border-collapse: separate;
    border-spacing: 2px;
	z-index: 20000;
}

.ele:hover .tooltiptext {
    visibility: visible;
	z-index: 20000;
}

.editTitle {
	text-align: center;
	align-items: center;
    justify-content: center;
}

.editButton {
	text-align: center;
	align-items: center;
    justify-content: center;
	
	width: 50px;

	height: 20px;
	background-color: rgb(200, 200, 200);
	margin-right: 2%;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: black;
}

.toolTitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.toolTitleId {
	text-align: center;
	font-size: 14px;
}

.toolName{
	font-size: 14px;
	display: table-cell;
	padding: 1px;
}

.toolValue {
	font-size: 14px;
	position: relative;
	display: table-cell;
	padding: 1px;
}

.toolUnit{
	font-size: 14px;
	display: table-cell;
	padding: 1px;
}

.toolRow {
	padding: 0 0px 0 0px;
	display: table-row;
	background-color: rgb(180,180,180);
}

.X > div:nth-child(2n) {
    display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-top: 5px;
	background-color: rgb(160, 160, 160);
	display:table-row;
}

.title2 {
	font-size: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
	margin-top: 2px;
	margin-bottom: 2px;
	background: rgba(0, 0, 0, 0);
    border: none;
    outline: 0;
    cursor: text;
	text-align: center;
    width: 100%;
}	

.page1 {
	display: block;
}

.page2 {
	display: none;
}

.page3 {
	display: none;
}

.filetag {
	display: none;
}

.info {
	display: table;
	border-collapse: separate;
    border-spacing: 2px;
}

.change {
	display: table;
	border-collapse: separate;
    border-spacing: 2px;
}

.change1 {
	display: table;
	border-collapse: separate;
    border-spacing: 2px;
}

.info > div:nth-child(2n) {
    display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-top: 5px;
	background-color: rgb(140, 140, 140);
	display:table-row;
}

.change > div:nth-child(2n) {
    display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-top: 5px;
	background-color: rgb(140, 140, 140);
	display:table-row;
}

.change1 > div:nth-child(2n) {
    display: flex;
	flex-direction: row;
	margin-left: 5px;
	margin-top: 5px;
	background-color: rgb(140, 140, 140);
	display:table-row;
}

.input {
	margin: 0 0 0 0;
	display:table-cell;
	width: 80px;
	background-color: rgb(200, 200, 200);
	padding: 0px;
	position: relative;
	bottom: 2px;
}

.input10 {
	margin: 0 0 0 0;
	display:table-cell;
	width: 173px;
	background-color: rgb(255, 255, 255);
	padding: 0px;
	position: relative;
	bottom: 2px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 10000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: rgb(222, 222, 222);
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #fff;
  width: 60%; 
  text-align: center;
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalTitle{
	font-size: 20px;
}



.page4 {
	display: none;
}

	
    * {
      box-sizing: border-box;
    }

    .box {
      display: flex;
		flex-direction: column;

    }
    .center {
      margin: auto;
    }


    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
	
	.svg {
		align-items: center;
    justify-content: center;
	margin-left: 200px;
	}

.dataButtonBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
    align-items: center;
	margin-top: 5px;
}
